@import "var";
@import "media";

header {
	padding: 20px;
	width: 100%;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/images/pattern-circles.svg);
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@include laptop {
		margin-top: 10px;
	}

	h1 {
		color: $ctaBg;
		font-size: 20px;
		@include laptop {
			font-size: 30px;
		}
	}
	p {
		padding: 0 60px;
		margin-top: 15px;
		font-size: 15px;
		color: $textColor;
	}
}
main {
	background-color: $white;
	margin: 40px 0;
	max-width: 550px;
	width: calc(100% - 60px);
	border-radius: 10px;
	box-shadow: 0px 8px 24px -8px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	@include laptop {
		margin: 50px 0;
	}
	.top-container {
		padding: 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 70px);
		@include laptop {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 70px);
		}
		div {
			display: flex;
			align-items: center;
			justify-content: center;
			@include laptop {
				order: 1;
			}
			.amount {
				text-align: center;
				text-transform: uppercase;
				font-size: 15px;
				letter-spacing: 2px;
				color: $textColor;
			}
		}

		//slider
		.slider-container {
			padding: 25px 15px;
			width: 100%;
			@include laptop {
				padding: 25px 40px;
				order: 3;
				grid-row: 2/3;
				grid-column: 1/-1;
			}

			input[type="range"] {
				-webkit-appearance: none;
				border-radius: 20px;
				background: $emptySliderBg;
				width: 100%;
				height: 8px;
				cursor: pointer;
				background-image: linear-gradient($fullSliderBg, $fullSliderBg);
				background-size: 50% 100%;
				background-repeat: no-repeat;
			}
			input[type="range"]::-webkit-slider-thumb:hover {
				filter: brightness(105%);
			}
			input[type="range"]::-webkit-slider-thumb:active {
				filter: brightness(80%);
				cursor: grabbing;
			}

			input[type="range"]::-moz-range-thumb:hover {
				filter: brightness(105%);
			}

			/* Removes default focus */
			input[type="range"]:focus {
				outline: none;
			}

			/* slider thumb */
			input[type="range"]::-webkit-slider-thumb {
				-webkit-appearance: none;
				height: 40px;
				width: 40px;
				border: 0;
				border-radius: 50%;
				background-image: url("/images/icon-slider.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-color: $sliderBg;
				box-shadow: 0px 8px 24px -4px $sliderBg;
				cursor: pointer;
			}

			/******** Firefox styles ********/
			/* slider track */
			input[type="range"]::-moz-range-track {
				border-radius: 20px;
				background: $emptySliderBg;
				width: 100%;
				height: 8px;
				cursor: pointer;
				transition: 0.4s;
			}

			input[type="range"]::-moz-range-thumb {
				height: 40px;
				width: 40px;
				border: 0;
				border-radius: 50%;
				background-image: url("/images/icon-slider.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-color: $sliderBg;
				box-shadow: 0px 8px 24px -4px $sliderBg;
				cursor: pointer;
			}
		}

		//price
		.price-container {
			display: flex;
			padding: 10px 0;
			align-items: center;
			justify-content: center;
			@include laptop {
				order: 2;
			}
			gap: 8px;
			h3 {
				font-size: 36px;
				color: $ctaBg;
			}
			p {
				color: $textColor;
				font-size: 15px;
			}
		}

		//biling
		.billing {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			padding: 25px 0;
			gap: 5px;
			@include mobile {
				font-size: 15px;
				gap: 10px;
			}
			@include laptop {
				order: 4;
				grid-column: 1/-1;
			}
			.switch {
				position: relative;
				display: inline-block;
				width: 45px;
				height: 25px;
				.slider {
					position: absolute;
					cursor: pointer;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					transition: 0.5s;
					background: $toggleBg;
					border-radius: 35px;
					padding: 4px;
				}
				input {
					display: none;
				}
				.slider::before {
					position: absolute;
					top: 50%;
					left: 30%;
					transform: translate(-50%, -50%);
					content: "";
					height: 17px;
					width: 17px;
					border-radius: 50%;
					background-color: $white;
					transition: 0.5s;
				}
				input:checked + .slider {
					background-color: $fullSliderBg;
				}
				input:checked + .slider::before {
					left: 70%;
				}
			}
			p {
				color: $textColor;
				text-align: center;
			}
			.discount {
				color: $discountText;
				background-color: $discountBg;
				padding: 2px 5px;
				font-size: 12px;
				border-radius: 8px;
				font-weight: 700;
			}
		}
	}

	.bottom-container {
		border-top: 2px solid $mainBg;
		padding: 25px 40px 40px 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		@include laptop {
			flex-direction: row;
		}
		.check-wrapper {
			display: flex;
			gap: 10px;
			flex-direction: column;
			margin-bottom: 30px;
			@include mobile {
				align-items: center;
			}
			@include laptop {
				margin-bottom: 0;
				align-items: baseline;
			}
			div {
				display: flex;
				align-items: center;
				gap: 15px;
				img {
					width: 9px;
					height: 8px;
				}
				p {
					font-size: 15px;
					color: $textColor;
				}
			}
		}
		button {
			background-color: $ctaBg;
			border: 0;
			color: $ctaColor;
			outline: none;
			font-size: 15px;
			font-family: $fontFamily;
			border-radius: 25px;
			padding: 15px 30px;
			cursor: pointer;
			@include mobile {
				padding: 12px 60px;
			}
			@include laptop {
				padding: 12px 40px;
			}
			&:hover {
				color: $white;
			}
		}
	}
}

footer {
	padding: 0 20px;
	text-align: center;
	font-size: 12px;
	color: $textColor;
	a {
		color: $ctaBg;
		text-decoration: none;
	}
}
